*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-container {
  width: 115.2rem;
  min-height: 100vh;
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-container::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 87.3%;
  width: 51rem;
  border-radius: 0 0 100vh 100vh;
  z-index: 1;
  background-image: radial-gradient(circle at top right, #e942ff -20%, #8838ff);
  top: 0;
  left: -20.3%;
}

.background-container::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  height: 87.3%;
  width: 51rem;
  border-radius: 100vh 100vh 0 0;
  z-index: 1;
  background-color: #f5f3f7;
  bottom: 0;
  right: -28.8%;
}

.content {
  position: absolute;
  width: 82.2rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(5.3rem);
          transform: translateX(5.3rem);
}

.mobile__outline {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.8rem;
          flex: 0 0 24.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24.8rem;
  height: 50.5rem;
  border-radius: 3rem;
  border: 1.1rem solid #ffffff;
  background-color: #f5f3f7;
  -webkit-box-shadow: 0px 0px 70px -23px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 70px -23px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.mobile__outline::before {
  content: "";
  display: block;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 0;
  background-color: #ffffff;
  width: 12.9rem;
  height: 2.9rem;
  border-radius: 0 0 1.5rem 1.5rem;
  z-index: 8;
}

.mobile__top {
  width: 100%;
  height: 6.7rem;
  background-image: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to left, #e942ff, #8838ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 2.5rem 1.5rem 1rem 1.1rem;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.mobile__top .top__arrow {
  font-weight: 500;
  -webkit-transform: scaleX(0.5) scaleY(1.2) translateY(2px);
          transform: scaleX(0.5) scaleY(1.2) translateY(2px);
}

.mobile__top .top__avatar {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 0.9rem 1rem 0.5rem 0.8rem;
}

.mobile__top .top__user {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile__top .user__name {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.mobile__top .user__status {
  color: #d89eff;
  font-size: 0.9rem;
  line-height: 0.9rem;
  letter-spacing: -0.5px;
}

.mobile__top .top__settings {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.1rem;
  position: relative;
}

.mobile__top .top__settings::before, .mobile__top .top__settings::after {
  content: ".";
  display: block;
  position: absolute;
}

.mobile__top .top__settings::before {
  top: -4px;
}

.mobile__top .top__settings::after {
  top: 4px;
}

.mobile__chat {
  background-color: #f5f3f7;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0.6rem 1rem 0.8rem;
}

.mobile__chat .messages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile__chat .message {
  max-width: 60%;
  display: inline-block;
  padding: 0.8rem;
  margin-bottom: 0.9rem;
  border-radius: 0.8rem;
}

.mobile__chat .message--walker {
  color: #9241c8;
  background-color: #ede5f4;
  border-bottom-left-radius: 2px;
}

.mobile__chat .message--owner {
  color: #6e5d7e;
  background-color: #ffffff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-bottom-right-radius: 2px;
}

.mobile__chat .message--option {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to right, #e942ff, #8838ff);
  padding: 1rem;
  display: block;
  max-width: none;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__chat .message--option .price {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 500;
}

.mobile__chat .pictures {
  max-width: 80%;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.mobile__chat .pictures__img {
  border-radius: 0.8rem;
  width: 4rem;
  height: 4rem;
}

.mobile__chat .pictures--owner {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mobile__chat .pictures--owner > * {
  margin-left: 0.6rem;
}

.mobile__chat .custom-input {
  margin-top: auto;
  background-color: #ffffff;
  font-size: 0.9rem;
  border-radius: 20px;
  padding: 0.5rem 0.5rem 0.5rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__chat .custom-input__text {
  color: #c6cacd;
}

.mobile__chat .custom-input__btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #3e2753;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__chat .first-message {
  margin-top: 0.6rem;
}

.text-section {
  margin-left: 12.4rem;
}

.text-section .main-heading {
  font-size: 4.2rem;
  line-height: 4.3rem;
  font-weight: 500;
  margin-bottom: 2.75rem;
  letter-spacing: -1.2px;
}

.text-section .paragraph {
  font-size: 1.7rem;
  line-height: 2.75rem;
  letter-spacing: -0.4px;
}
/*# sourceMappingURL=main.css.map */