///////// COLORS

// #### Text

// - Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
// - Moderate Violet (chat on the left): hsl(276, 55%, 52%)
// - Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
// - Grayish Blue (placeholder text): hsl(206, 6%, 79%)
// - Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
// - Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

// #### Gradients

// These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

// - Light Magenta: hsl(293, 100%, 63%)
// - Light Violet: hsl(264, 100%, 61%)

// ### Secondary

// - White: hsl(0, 0%, 100%)
// - Light Grayish Violet (app background): hsl(270, 20%, 96%)
// - Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
// - Very Light Magenta (radio button outline): hsl(289, 100%, 72%)

// TEXT
$color-violet-pale: #d89eff;
$color-violet: #9241c8;
$color-violet-desaturated: #6e5d7e;
$color-gray: #c6cacd;
$color-violet-dark: #3e2753;
$color-gray-violet: #a39daa;

// GRADIENTS
$gradient-magenta: #e942ff;
$gradient-violet: #8838ff;

// SECONDARY COLORS
$color-white: #ffffff;
$color-background: #f5f3f7;
$color-light-purple: #f9f4fa;
$color-light-violet: #ede5f4;
$color-submit-button: #3e2753;
$color-radio-button: #e570ff;
