*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  background-color: $color-white;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
}
